playpen/Practise_Message_Map_Trans_APP/OutputSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="EmployeeType">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string"></xsd:element>
			<xsd:element name="ID" type="xsd:integer"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

    <xsd:element name="Employees">
    	<xsd:complexType>
			<xsd:sequence >
				<xsd:element type="EmployeeType"
					name="Employee" minOccurs="1" maxOccurs="unbounded">
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
    
    </xsd:element>

</xsd:schema>